<div class="container">
  <div class="row">
    <div class="col">
      <p><%= @review.content %></p>
      <p><%= @review.rating %></p>
      <p>
        <%= link_to restaurant_path(@review), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
      <p>
        <%= link_to "Home", root_path  %>
      </p>
    </div>
  </div>
</div>
